//  Foundation for Emails Settings
//  ------------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Grid
//   3. Block Grid
//   4. Typography
//   5. Button
//   6. Callout
//   7. Menu
//   8. Thumbnail
//   9. VAE Control


// 1. Global
// ---------

$primary-color: #2199e8;
$secondary-color: #777777;
$success-color: #3adb76;
$warning-color: #ffae00;
$alert-color: #ec5840;
$light-gray: #f3f3f3;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;
$pre-color: #ff6908;
$global-width: 600px;
$global-width-small: 550px;
$global-gutter: 30px;
$global-gutter-mobile: 20px;
$body-background: $light-gray;
$container-background: $white;
$global-padding: 16px;
$global-margin: 16px;
$global-radius: 3px;
$global-rounded: 500px;
$global-breakpoint: 596px;
$gattex-green: #008a5f;
$gattex-orange: #f8971d;
$gattex-blue: #117dc1;

// 2. Grid
// -------

$grid-column-count: 12;
$column-padding-bottom: $global-padding;
$container-radius: 0;

// 3. Block Grid
// -------------

$block-grid-max: 8;
$block-grid-gutter: $global-gutter;

// 4. Typography
// -------------

$global-font-color: $black;
$body-font-family: Helvetica, Arial, sans-serif;
$global-font-weight: normal;
$header-color: inherit;
$global-line-height: 1.3;
$global-font-size: 16px;
$body-line-height: $global-line-height;
$header-font-family: $body-font-family;
$header-font-weight: $global-font-weight;
$h1-font-size: 34px;
$h2-font-size: 30px;
$h3-font-size: 28px;
$h4-font-size: 24px;
$h5-font-size: 20px;
$h6-font-size: 18px;
$header-margin-bottom: 10px;
$paragraph-margin-bottom: 10px;
$small-font-size: 80%;
$small-font-color: $medium-gray;
$lead-font-size: $global-font-size * 1.25;
$lead-line-height: 1.6;
$text-padding: 10px;
$subheader-lineheight: 1.4;
$subheader-color: $dark-gray;
$subheader-font-weight: $global-font-weight;
$subheader-margin-top: 4px;
$subheader-margin-bottom: 8px;
$hr-width: $global-width;
$hr-border: 1px solid $black;
$hr-margin: 20px auto;
$anchor-text-decoration: none;
$anchor-color: $primary-color;
$anchor-color-visited: $anchor-color;
$anchor-color-hover: darken($primary-color, 10%);
$anchor-color-active: $anchor-color-hover;
$stat-font-size: 40px;

// 5. Button
// ---------

$button-padding: (
  tiny: 4px 8px 4px 8px,
  small: 5px 10px 5px 10px,
  default: 8px 16px 8px 16px,
  large: 10px 20px 10px 20px,
);
$button-font-size: (
  tiny: 10px,
  small: 12px,
  default: 16px,
  large: 20px,
);
$button-color: $white;
$button-color-alt: $medium-gray;
$button-font-weight: bold;
$button-margin: 0 0 $global-margin 0;
$button-background: $primary-color;
$button-border: 2px solid $button-background;
$button-radius: $global-radius;
$button-rounded: $global-rounded;

// 6. Callout
// ----------

$callout-background: $white;
$callout-background-fade: 85%;
$callout-padding: 10px;
$callout-margin-bottom: $global-margin;
$callout-border: 1px solid darken($callout-background, 20%);
$callout-border-secondary: 1px solid darken($secondary-color, 20%);
$callout-border-success: 1px solid darken($success-color, 20%);
$callout-border-warning: 1px solid darken($warning-color, 20%);
$callout-border-alert: 1px solid darken($alert-color, 20%);

// 7. Menu
// -------

$menu-item-padding: 10px;
$menu-item-gutter: 10px;
$menu-item-color: $primary-color;

// 8. Thumbnail
// ------------

$thumbnail-border: solid 4px $white;
$thumbnail-margin-bottom: $global-margin;
$thumbnail-shadow: 0 0 0 1px rgba($black, 0.2);
$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary-color, 0.5);
$thumbnail-transition: box-shadow 200ms ease-out;
$thumbnail-radius: $global-radius;

// 9. VAE Control
// ---------
// these options are to control the CSS generated by
// the framework Foundation For Emails in the Mobile CSS

$turn-On-Off-VAE-Control: $isVAE;

$small-alignments-used: false;
/*
  $small-alignments-used: true; // Normal Behavior
  $small-alignments-used: false;
    classes removed with this option in FALSE
      .small-float-center
      .small-text-center
      .small-text-left
      .small-text-right
    reducing the code by 332 characters
*/

$visibility-framework-classes-used: false;
/*
  $visibility-framework-classes-used: true; // Normal Behavior
  $visibility-framework-classes-used: false;
    classes removed with this option in FALSE
      .hide-for-large
      .show-for-large
    reducing the code by 626 characters
*/

$collapse-columns-used: false;
/*
  $collapse-columns-used: true; // Normal Behavior
  $collapse-columns-used: false;
    classes removed with this option in FALSE
      .collapse .columns
      .collapse .column
    reducing the code by 128 characters
*/

$small-columns-used: (12);
/*
  $small-columns-used: (1,2,3,4,5,6,7,8,9,10,11,12); // Normal Behavior
  removing the numbers of the size not used in the project will remove
  the CSS not used in the build

  Examples:
    if you only use framework columns size 6 and 12 in mobile
    the code should be like this
    $small-columns-used: (6,12);
    and this will generate only those classes
    .small-6 and .small-12
    reducing the code
    --------------------------------------------
    if you only use full width columns (small-12) in mobile
    $small-columns-used: (12);
    this will reduce 1072 characters

  this remove the classes for the columns in mobile
    .small-#
  the code can be reduced up to 1072 characters
*/

$small-offset-columns-used: false;
/*
  $small-offset-columns-used: true; // Normal Behavior
  $small-offset-columns-used: false;
    classes removed with this option in FALSE
      .small-offset-1
      .small-offset-2
      .small-offset-3
      .small-offset-4
      .small-offset-5
      .small-offset-6
      .small-offset-7
      .small-offset-8
      .small-offset-9
      .small-offset-10
      .small-offset-11
    reducing the code by 1526 characters
*/

$text-left-right-padding-used: false;
/*
  $text-left-right-padding-used: true; // Normal Behavior
  $text-left-right-padding-used: false;
    classes removed with this option in FALSE
      .right-text-pad
      .text-pad-right
      .left-text-pad
      .text-pad-left
    reducing the code by 189 characters
*/

$menu-used: false;
/*
  $menu-used: true; // Normal Behavior
  $menu-used: false;
    classes removed with this option in FALSE
      .menu
      .menu.vertical
      .menu.small-vertical
      .menu[align="center"]
    reducing the code by 527 characters
*/

$buttons-used: false;
/*
  $buttons-used: true; // Normal Behavior
  $buttons-used: false;
    classes removed with this option in FALSE
      .button.small-expand
      .button.small-expanded
    reducing the code by 472 characters
*/

$callout-used: false;
/*
  $callout-used: true; // Normal Behavior
  $callout-used: false;
    classes removed with this option in FALSE
      .callout-inner
    reducing the code by 50 characters
*/

// End VAE Control